{% extends 'base.html.twig' %}

{% block title %}Pilote index{% endblock %}

{% block body %}
    <h1>Pilote index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_pilote</th>
                <th>Prenom_pilote</th>
                <th>Datenaissance</th>
                <th>Address</th>
                <th>Tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pilote in pilotes %}
            <tr>
                <td>{{ pilote.id }}</td>
                <td>{{ pilote.nomPilote }}</td>
                <td>{{ pilote.prenomPilote }}</td>
                <td>{{ pilote.datenaissance ? pilote.datenaissance|date('Y-m-d') : '' }}</td>
                <td>{{ pilote.address }}</td>
                <td>{{ pilote.tel }}</td>
                <td>
                    <a href="{{ path('pilote_show', {'id': pilote.id}) }}">show</a>
                    <a href="{{ path('pilote_edit', {'id': pilote.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pilote_new') }}">Create new</a>
{% endblock %}
