{% extends 'base.html.twig' %}

{% block title %}Pilote{% endblock %}

{% block body %}
    <h1>Pilote</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pilote.id }}</td>
            </tr>
            <tr>
                <th>Nom_pilote</th>
                <td>{{ pilote.nomPilote }}</td>
            </tr>
            <tr>
                <th>Prenom_pilote</th>
                <td>{{ pilote.prenomPilote }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{{ pilote.datenaissance ? pilote.datenaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ pilote.address }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ pilote.tel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pilote_index') }}">back to list</a>

    <a href="{{ path('pilote_edit', {'id': pilote.id}) }}">edit</a>

    {{ include('pilote/_delete_form.html.twig') }}
{% endblock %}
