<!DOCTYPE html>
<html lang="fr">
   <head>
       <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
       <title> Billeterie</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
       <link rel="stylesheet" href="{{asset('Acceuil/css/bootstrap.min.css')}}">
       <link rel="stylesheet" href="{{asset('Acceuil/css/style.css')}}">
       <link rel="stylesheet" href="{{asset('Acceuil/css/responsive.css')}}">
       <link rel="icon" href="{{asset('Acceuil/images/fevicon.png')}}">
       <link rel="stylesheet" href="{{asset("Acceuil/css/jquery.mCustomScrollbar.min.css")}}">
       <link rel="stylesheet" href="{{asset("Acceuil/css/owl.carousel.min.css")}}">
      <link rel="stylesheet" href="{{asset("Acceuil/css/owl.theme.default.min.css")}}">
       <script src="{{asset(' mhttps://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')}}"></script>
      <script src="{{asset('https://oss.maxcdn.com/respond/1.4.2/respond.min.js')}}"></script> 
   </head>
    <body class="main-layout">
        
        {% include 'nave.html.twig' %}

       <section >
         <div class="banner-main">
            <img src="{{asset('Acceuil/images/image3.jpg')}}"/>
            <div class="container">
               <div class="text-bg">
                  <h1>SENEGAL<br><strong class="white">VOYAGE EN AFRIQUE</strong></h1>
                   
               </div>
            </div>
         </div>
      </section>
<div id="about" class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage">
                     <h2> A propos de notre site</h2>
                     <span>  Ce site est dévoloppé en SYMFONY</span>
                  </div>
               </div>
            </div>
         </div>
<div class="bg">
            <div class="container">
               <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                     <div class="about-box">
                        <p> <span>Il existe de nombreuses variantes de vols au Sénégal disponibles, mais la majorité ont  préfére la rapidité ainsi que la disponibilité, par injection d'humour ou par des mots aléatoires qui ne semblent même pas légèrement crédibles. Si vous envisagez d'utiliser un vol pour sénégal ou de sénégal, vous devez en être sûr. même légèrement crédible. Si vous allez utiliser un vol, vous devez être sûr qu'il est bient disponible</span></p>
                        <div class="palne-img-area">
                           <img src="{{asset('Acceuil/images/plane-img.png')}}" >
                        </div>
                     </div>
                  </div>
               </div>
            </div>
          </div>
 {% include 'footer.html.twig' %}
       </body>
      </html>