<!DOCTYPE html>
<html lang="fr">
   <head>
       <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
       <title> Billeterie</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
       <link rel="stylesheet" href="{{asset('Acceuil/css/bootstrap.min.css')}}">
       <link rel="stylesheet" href="{{asset('Acceuil/css/style.css')}}">
       <link rel="stylesheet" href="{{asset('Acceuil/css/responsive.css')}}">
       <link rel="icon" href="{{asset('Acceuil/images/fevicon.png')}}">
       <link rel="stylesheet" href="{{asset("Acceuil/css/jquery.mCustomScrollbar.min.css")}}">
       <link rel="stylesheet" href="{{asset("Acceuil/css/owl.carousel.min.css")}}">
      <link rel="stylesheet" href="{{asset("Acceuil/css/owl.theme.default.min.css")}}">
       <script src="{{asset(' mhttps://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')}}"></script>
      <script src="{{asset('https://oss.maxcdn.com/respond/1.4.2/respond.min.js')}}"></script> 
   </head>
    <body class="main-layout">
        
      

<footer>
         <div id="contact" class="footer">
            <div class="container">
               <div class="row pdn-top-30">
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"></div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                     <div class="Follow">
                        <h3>CONTACTER NOUS</h3>
                        <span> +221 77 XXX XX XX <br>Avenue,<br>
                        Dakar, Sénégal<br>
                         +33 XXX XX XX</span>
                     </div>
                  </div>
                   <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                     <div class="Follow">
                        <h3>ADDITIONAL LINKS</h3>
                        <ul class="link">
                           <li> <a href="{{path('propos')}}">A propos</a></li>
                           <li> <a href="{{path('blog')}}">Blog</a></li>
                           <li> <a href="{{path('voyage')}}"> Voyage</a></li>
                            <li> <a href="{{path('contact')}}"> Contacte</a></li>
                        </ul>
                     </div>
                  </div>
                   
               <div class="copyright  col-sm-12" >
                  <div class="container">
                    <p>&copy;2021 Symfony ,Rokhy siga THIANG et Papa Ousmane WATT <a href= ""> Dakar Sénégal UCAD/TDSI</a></p>
                  </div>
               </div>
            </div>
         </div>
      </footer>
       </body>
      </html>